CompileFlags:
  CompilationDatabase: build
  Add:
    - -ID:/编程/项目/AiVideoAnalsysSystem/cpp/include
    - -ID:/Visual Studio/VC/Tools/MSVC/14.44.35207/include
    - -ID:/Visual Studio/VC/Tools/MSVC/14.44.35207/ATLMFC/include
    - -ID:/Visual Studio/VC/Auxiliary/VS/include
    - -IC:/Program Files (x86)/Windows Kits/10/include/10.0.26100.0/ucrt
    - -IC:/Program Files (x86)/Windows Kits/10/include/10.0.26100.0/um
    - -IC:/Program Files (x86)/Windows Kits/10/include/10.0.26100.0/shared
    - -IC:/Program Files (x86)/Windows Kits/10/include/10.0.26100.0/winrt
    - -IC:/Program Files (x86)/Windows Kits/10/include/10.0.26100.0/cppwinrt
    - -ID:/LLVM/lib/clang/20/include
    - --driver-mode=cl

Diagnostics:
  UnusedIncludes: None
  MissingIncludes: Strict
